<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Delete Sheet</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
    <div>
        <h1>Delete Sheet</h1>
        <p th:text="'Are you sure you want to delete ' + ${sheet.title} + '?'"></p>
    </div>
    <form th:action="@{/user/ghostplay/{id}/delete_success(id=${sheet.id})}" method="post" style="max-width: 600px; margin: 0 auto;">
        <div class="m-3">
            <div>
                <button type="submit" class="btn btn-danger">Delete Sheet</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>