<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>List Users</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link th:href="@{/styles/main_navbar.css}" rel="stylesheet">
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<section th:replace="fragments/main_navbar.html"></section>
<div class="container text-center" th:object="${sheet}">
    <div th:object="${authorName}">
        <h1 th:text="${sheet.title}"></h1>
        <p th:text="${authorName}"></p>
    </div>
    <div>
        <p th:text="${sheet.textContent}"></p>
    </div>

    <div>
        <h4><a th:href="@{/user/play(id=${sheet.id})}">Play This Sheet</a></h4>
    </div>
</div>
</body>
</html>