<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Sheet Detail</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link th:href="@{/styles/main_navbar.css}" rel="stylesheet">
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<section th:replace="fragments/main_navbar.html"></section>
<div class="container text-center" th:object="${sheet}">
    <div th:object="${author}">
        <div>
            <h1 th:text="${sheet.title}"></h1>
            <a class="user-link" th:text="${authorName}" th:href="@{/user/{id}(id=${author.id})}"></a>
        </div>
    </div>
    <div>
        <p th:text="${sheet.textContent}"></p>
    </div>

    <div>
        <h4><a th:href="@{/user/play(id=${sheet.id})}">Play This Sheet</a></h4>
        <h5><a th:href="@{/user/ghostplay/{id}/edit(id=${sheet.id})}">Edit This Sheet</a></h5>
        <h5><a th:href="@{/user/ghostplay/{id}/delete(id=${sheet.id})}">Delete This Sheet</a></h5>
    </div>
</div>
</body>
</html>