<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>List Users</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <link th:href="@{/styles/main_navbar.css}" rel="stylesheet">
  <link th:href="@{/styles/ghostplay_list.css}" rel="stylesheet">
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<section th:replace="fragments/main_navbar.html"></section>
<div class="container text-center">
  <div>
    <h1 style="margin: 3vh;">List of Users</h1>
    <form th:action="@{/user/users}" class="input-group mb-3">
      <input th:name="search" type="text" class="form-control" placeholder="Search By Title" aria-label="Search By Title" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-dark" type="submit">Search</button>
      </div>
    </form>
  </div>

  <div>
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
      </tr>
      </thead>
      <tbody>
      <tr class="list-row" th:each="user: ${listUsers}">
        <td><a th:text="${user.firstName}" th:href="@{/user/{id}(id=${user.id})}">First Name</a></td>
        <td><a th:text="${user.lastName}" th:href="@{/user/{id}(id=${user.id})}">Last Name</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>