:root {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#options {
    display: flex;
    padding: 2em;
    padding-bottom: 0;
}

#metronome {
    padding-left: 20px;
    background-color: white;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    height: inherit;
}

.notes {
    width: 100vw;
    overflow-x: auto;
    margin: 15vh 0vh 0vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.note-white {
    display: flex;
    flex-direction: column-reverse;
    width: 29px;
    height: 150px;
    background-color: white;
}

.note-white-pressed {
    background-color: orange;
}

.note-white:hover {
    background-color: lightgray;
}

.note-black {
    position: relative;
    margin-left: -10px;
    margin-right: -10px;
    width: 18px;
    height: 70px;
    z-index: 2;
    background-color: #333;
    color: white;
    font-size: 8px;
    text-align: justify;
    padding: 5px;
}

.note-black-pressed {
    background-color: orange;
}

.note-black:hover {
    background-color: black;
}

h3 {
    margin: 25px 0px 10px;
}

#ghost-play-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 0 auto;
    margin-top: 40px;
    padding: 5px;
    width: fit-content;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: #333 solid 1px;
    border-bottom: #fff solid 0px;
}

#ghostTitle {
    margin: 0 auto;
    margin-top: 0px;
    padding: 5px;
    width: fit-content;
}

#ghost-play-header p {
    margin: 0 auto;
    margin-top: 0px;
    padding: 5px;
    width: fit-content;
}

#ghost-play-input {
    max-width: 640px;
    resize: none;
    outline: none;
    flex-basis: 65%;
}

#ghost-play-button {
    margin-top: 5px;
    background-color: white;
    padding: 5px;
}

.ghostplay {
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#instructions {
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-right: 5px;
    border: #333 solid 1px;
    border-left: #fff solid 0px;
}

#piano-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 25px auto 0;
    padding: 15px;
    width: fit-content;
    border-radius: 10px;
}

#piano-header h3 {
    margin: 0 0 20px;
    padding: 0;
}

.user-link {
    text-decoration: none;
}

.user-link:hover {
    text-decoration: none;
}